__pycache__/
*.pyc
*.pyo
*.pyd

venv/
lstm_env/

.env

*.h5
*.pkl

realtime_map.html

.ipynb_checkpoints/

models/
training/*.pkl
training/*.h5
__pycache__/
*.pyc
.vscode/
lstm_env/